BasedOnStyle: LLVM
Language: C
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: true

PointerAlignment: Left
DerivePointerAlignment: false
